/*
!.gitignore
!alacritty/
!alacritty/**
!ghostty/
!ghostty/**
!hypr/
!hypr/**
!nvim/
!nvim/**
nvim/lazy-lock.json
!quickshell/
!quickshell/**
!rofi/
!rofi/**
!theme/
!theme/**
!wal/
!wal/**
!waybar/
!waybar/**
!wlogout/
!wlogout/**

