@theme "../../.cache/wal/color4.rasi"

configuration {
    show-icons: true;
    font: "0xProto Nerd Font Propo";
    display-drun: "󱗼";
}

* {
    text-color: @text-col;
    border-radius: 16px;
}

#window {
    background-color: @bg-transparent-col;
    border: 1px solid;
    border-color: @accent-border-col;
    padding: 4px;
}

#mainbox {
    children: [inputbar, listview];
    border: 0;
    background-color: @accent-bg-transparent-col;
    padding: 8px;
}

#inputbar {
    children: [prompt, entry];
    spacing: 8;
    padding: 8px;
    border-color: @accent-border-col;
    border: 1px solid;
    background-color: transparent;
}

#prompt {
    background-color: transparent;
    size: 5.5em;
    text-size: 50px;
    padding: 0px 2px 0px 0px;
}

#entry {
    background-color:transparent;
    border-radius: 0px;
}

#listview {
    fixed-height: 0;
    lines: 6;
    spacing: 2px;
    scrollbar: true;
    padding: 8px 0px 0px 0px;
    border-radius: 0px;
    background-color: transparent;
}

#element {
    border: 0;
    padding: 8px;
    background-color: transparent;
    orientation: horizontal;
    children: [element-icon, element-text];
    spacing: 8px;
}

#element-text {
    background-color: transparent;
    vertical-align: 0.5;
}

#element-icon {
    background-color: transparent;
    size: 1.25em;
}

#element.normal.normal {
    padding: 16px;
    background-color: transparent;
}

#element.normal.urgent {
    background-color: @accent-bg-col;
}

#element.normal.active {
    background-color: @accent-active-col;
}

#element.selected.normal {
    background-color: @accent-active-col;
}

#element.selected.urgent {
    background-color: @accent-active-col;
}

#element.selected.active {
    background-color: @accent-active-col;
}

#element.alternate.normal {
    background-color: transparent;
}

#element.alternate.urgent {
    background-color: transparent;
}

#element.alternate.active {
    background-color: transparent;
}

#scrollbar {
    width: 4px;
    border: 0;
    handle-width: 8px;
    padding: 0;
    background-color: @accent-bg-transparent-col;
    handle-color: @accent-active-col;
    border-color: @accent-border-col;
}

#sidebar {
    border: 2px 0px 0px;
    border-color: @accent-border-col;
}

#button.selected {
    background-color: @accent-bg-col;
}

