
* {{
    bg-col: #{background.strip};
    bg-transparent-col: #{background.strip}E6;
    accent-bg-col: #{color2.strip};
    accent-bg-transparent-col: #{color2.strip}33;
    accent-hov-col: #{color2.strip}66;
    accent-active-col: #{color2.strip}FF;
    accent-border-col: #{color2.strip}FF;
    text-col: #{foreground.strip}FF;
}}

