@import "../theme/wal-theme.css";

* {
  background-image: none;
  box-shadow: none;
}

window {
  background-color: @bg-col;
}

window>*>* {
  background-color: red;
  /* margin: "0px 15px 0px 15px"; */
}

button {
  border-radius: 16px;
  border-color: @accent-border-col;
  text-decoration-color: @default-text-col;
  color: @default-text-col;
  background-color: @accent-bg-col;
  border-style: solid;
  border-width: 1px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
}

button:hover {
  background-color: @accent-hover-col;
  outline-style: none;
}

/* #lock {
  background-image: image(url("/usr/share/wlogout/icons/lock.png"),
      url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
  background-image: image(url("/usr/share/wlogout/icons/logout.png"),
      url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
  background-image: image(url("/usr/share/wlogout/icons/suspend.png"),
      url("/usr/local/share/wlogout/icons/suspend.png"));
}

#hibernate {
  background-image: image(url("/usr/share/wlogout/icons/hibernate.png"),
      url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#shutdown {
  background-image: image(url("/usr/share/wlogout/icons/shutdown.png"),
      url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
  background-image: image(url("/usr/share/wlogout/icons/reboot.png"),
      url("/usr/local/share/wlogout/icons/reboot.png"));
} */
