@import "../theme/wal-theme.css";

* {
  font-family: "0xProto Nerd Font Propo";
  font-size: 24px;
  background-image: none;
  box-shadow: none;
}

window {
  background-color: @bg-col;
}

window>*>* {
  background-color: @accent-bg-col;
  border-radius: 16px;
  border-color: @accent-border-col;
  border-width: 1px;
  border-style: solid;
}

#lock,
#logout,
#suspend,
#hibernate,
#shutdown,
#reboot {
  margin: 10px;
    padding-top: 10px;
  border-radius: 16px;
  border: none;
  color: @default-text-col;
  background-color: @accent-col;
}

#lock:hover,
#logout:hover,
#suspend:hover,
#hibernate:hover,
#shutdown:hover,
#reboot:hover {
  background-color: @accent-hover-col;
}


