@import "../theme/wal-theme.css";

* {
  font-family: "0xProto Nerd Font Propo";
  font-size: 24px;
  background-image: none;
  box-shadow: none;
}

window {
  background-color: @bg-col;
}

window>*>* {
  background-color: @accent-bg-col;
  border-radius: 16px;
  border-color: @accent-border-col;
  border-width: 1px;
  border-style: solid;
}

/* window>*>* {
  background-color: red;
  margin: "0px 15px 0px 15px";
} */

/* button {
  border-radius: 16px;
  border-color: @accent-border-col;
  text-decoration-color: @default-text-col;
  color: @default-text-col;
  background-color: @accent-bg-col;
  border-style: solid;
  border-width: 1px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
}

button:hover {
  background-color: @accent-hover-col;
  outline-style: none;
} */

#lock,
#logout,
#suspend,
#hibernate,
#shutdown,
#reboot {
  margin: 10px;
    padding-top: 10px;
  border-radius: 16px;
  border: none;
  color: @default-text-col;
  background-color: @accent-bg-col;
}

#lock:hover,
#logout:hover,
#suspend:hover,
#hibernate:hover,
#shutdown:hover,
#reboot:hover {
  background-color: @accent-hover-col;
}


